<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!-- The targetDir path is updated in the pre-build action -->
    <add key="targetDir" value="D:\work\git\Motherlode\src\Motherlode.Data.NHibernate.Tests\bin\Release\" />
  </appSettings>
  <connectionStrings>
    <!-- The connectionStrings data source is updated in the pre-build action -->
    <add name="default" connectionString="Data Source=D:\work\git\Motherlode\src\Motherlode.Data.NHibernate.Tests\bin\Release\Chinook_SqlServerCompact.sdf;" />
    <add name="default_AutoIncrementPKs" connectionString="Data Source=D:\work\git\Motherlode\src\Motherlode.Data.NHibernate.Tests\bin\Release\Chinook_SqlServerCompact_AutoIncrementPKs.sdf;" />
  </connectionStrings>
  <log4net>
    <appender name="DelegateAppender" type="Motherlode.Log4Net.DelegateAppender, Motherlode.Log4Net">
      <threshold value="DEBUG" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <threshold value="INFO" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level [%date{HH:mm:ss.fff}] %message%newline" />
        <ignoresException value="false" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="DelegateAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>